@font-face {
  font-family: 'redshift-icons';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.eot?#iefix') format('eot'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.ttf') format('truetype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/redshift-icons.svg#redshift-icons') format('svg');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_4_0.ttf') format('truetype');
}

@font-face {font-family: 'Avenir-Book';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.ttf') format('truetype');
}

[class^='icon-'],
[class*='icon-'] {
  font-family: "redshift-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-redshift:before {
  content: "\e908";
}

body {
  overflow: hidden;
  background-color: white;
  font-family: "Avenir-Book", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 20px;
}

header a {
  transition: color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.2);
}

a:hover { color: #FF2953;  }

.flickity-viewport {
  overflow: visible;
}

.audioplayer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #FAFAFA;
}

.audioplayer audio {
  float: right;
}

.content {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  width: 100%;
  z-index: 3;
}

.member {
  position: relative;
  padding: 20px 0;
  height: 565px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.15s ease-in-out;
}

.member > p {
  position: absolute;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  font-family: "Avenir-Heavy", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.message {
  font-size: 24px;
  line-height: 1.375;
  position: relative;
  text-align: center;
  transform: translateY(20px);
  height: 100px;
  width: 420px;
  background: white;
  border-radius: 50px;
  border: 1px solid black;
  padding: 20px 30px;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message p {
  padding-top: 4px;
}

.message__speachindicator {
  position: absolute;
  width: 24px;
  bottom: -29px;
  left: calc(50% + 24px);
  transform: translateX(-50%);
}

.member span {
  font-size: 60px;
  background: rgba(255,255,255,0.8);
  padding: 0.5rem 3rem;
  border-radius: 20px;
}

.member.is-selected span {
  background-color: pink;
}

.member.is-selected span {
  color: black;
}

.member.is-selected p {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}

.member.is-selected .message {
  transform: none;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.2s;
}

.member > img {
  height: 416px;
}

.member > img.action,
.member.is-selected > img.base {
  display: none;
}

.member > img.base,
.member.is-selected > img.action {
  display: block;
}

.foreground {
  width: 100%;
  height: calc(33% - 62px);
  background: #DAEFF5;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.foreground:before {
  content: '';
  position: absolute;
  left: 0;
  top: -52px;
  height: 62px;
  width: 100%;
  background-image: url('../assets/img/platform.svg');
  background-size: contain;
  background-repeat: repeat-x;
  background-size: 2212px 100%;
}

.background {
  width: 2500%;
  height: 600px;
  background-image: url('../assets/img/cityscape.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 600px;
  position: fixed;
  top: calc(50% - 50px);
  left: -2.5%;
  transform: translateY(-50%);
  z-index: 1;
}

.bookend {
  width: 500px;
  max-width: 80vw;
  height: 100%;
  font-family: "Avenir-Black", sans-serif;
  text-align: center;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

h2 {
  font-size: 36px;
}

.intro {
  margin-right: 10vw;
}

.outro {
  margin-left: 10vw;
}

button {
  font-size: 20px;
  background: white;
  padding: 1rem 3rem;
  margin-top: 20px;
  color: black;
  border: 3px solid white;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: transparent;
  color: white;
}


@media only screen and (max-width: 767px) {
  .member {
    margin-right: 10px;
    height: 475px;
    width: 152px;
  }

  .member > img {
    height: 316px;
  }

  .message {
    font-size: 18px;
    width: 300px;
  }

  .bookend {
    font-size: 30px;
    padding: 2rem;
  }

  .intro {
    margin-right: 30vw;
  }

  .outro {
    margin-left: 30vw;
  }
}

@media only screen and (max-height: 415px) and (orientation: landscape) {
  .content {
    display: block;
  }

  /*.carousel {
    top: 60vh;
  }

  .bookend {
    top: -60vh;
    height: 100vh;
  }*/
}
