@font-face {
  font-family: 'Avenir-Heavy';
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot');
  src: url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff2') format('woff2'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.woff') format('woff'),
  url('https://s3-us-west-1.amazonaws.com/rs-website-cdn/fonts/31ED00_B_0.ttf') format('truetype');
}

body {
  overflow: hidden;
  background-color: #b9daf0;
  font-family: "Avenir-Heavy", sans-serif;
}

.flickity-viewport {
  overflow: visible;
}

.content {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  width: 100%;
  z-index: 3;
}

.member {
  position: relative;
  padding: 20px 0;
  height: 606px;
  width: 240px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.15s ease-in-out;
}

.message {
  line-height: 1.3;
  position: relative;
  text-align: center;
  transform: translateY(20px);
  height: 100px;
  width: 260px;
  background: white;
  border-radius: 50px;
  border: 1px solid black;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message:after {
  content: '';
  position: absolute;
  bottom: -12px;
  width: 20px;
  height: 20px;
  background: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  left: calc(50% + 36px);
  transform: translateX(-50%) rotate(82deg) skew(41deg)
}

.member span {
  font-size: 60px;
  background: rgba(255,255,255,0.8);
  padding: 0.5rem 3rem;
  border-radius: 20px;
}

.member.is-selected span {
  background-color: pink;
}

.member.is-selected span {
  color: black;
}

.member.is-selected .message {
  transform: none;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.2s;
}

.member img {
  height: 416px;
}

.member img.action,
.member.is-selected img.base {
  display: none;
}

.member img.base,
.member.is-selected img.action {
  display: block;
}

.foreground1 {
  width: 100%;
  height: 43%;
  background: #244868;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.background1 {
  width: 2500%;
  height: 704px;
  background-image: url('../assets/img/skyline.jpg');
  position: fixed;
  top: calc(50% - 252px);
  left: -2.5%;
  transform: translateY(-50%);
  z-index: 1;
}

.bookend {
  width: 800px;
  max-width: 80vw;
  height: 100%;
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 4rem;
  max-height: 100vh;
}

.intro {
  margin-right: 20vw;
}

.outro {
  margin-left: 20vw;
}

button {
  font-size: 20px;
  background: white;
  padding: 1rem 3rem;
  margin-top: 20px;
  color: black;
  border: 3px solid white;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: transparent;
  color: white;
}


@media only screen and (max-width: 767px) {
  .member {
    margin-right: 10px;
    height: 500px;
    width: 182px;
  }

  .member img {
    height: 316px;
  }

  .bookend {
    font-size: 30px;
    padding: 2rem;
  }

  .intro {
    margin-right: 30vw;
  }

  .outro {
    margin-left: 30vw;
  }
}

@media only screen and (max-height: 415px) and (orientation: landscape) {
  .content {
    display: block;
  }

  /*.carousel {
    top: 60vh;
  }

  .bookend {
    top: -60vh;
    height: 100vh;
  }*/
}
