body {
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel {
  width: 100%;
  z-index: 3;
}

.member {
  height: 400px;
  width: 200px;
  margin-right: 20px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-in-out;
}

.member.is-selected {
  background-color: pink;
}

.foreground1 {
  width: 100%;
  height: 43%;
  background: #244868;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.background1 {
  width: 2500%;
  height: 704px;
  background-image: url('../assets/img/skyline.jpg');
  position: absolute;
  top: calc(50% - 252px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
